/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.app-content {
    background-color: #fff !important;
}

.addedShow, .addedShow > h5 {
    background-color: #2ac845 !important;
    color: #fff !important;
    font-weight: 600 !important;
}

.col-lg-12 > h3 {
    font-weight: 600 !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    margin-left: 20px;
}

.panel-default>.panel-heading {
    padding: 10px !important;
    border: 0 !important;
    border-bottom: 1px solid #ddd !important;
}

.panel {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

.panel-default .panel-body {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.app-content-loading {
    padding-top: 20px !important;
    padding-left: 20px !important;
}

.show-row {
    margin: 0 !important;
    border-bottom: 1px solid #ddd;
}

.show-row:first-of-type {
    border-top: 1px solid #ddd;
}

.shows-item {
    display: table;
    height: 75px;
    max-height: 75px;
    text-align: center;
}

.shows-item > div {
    display: table-cell;
    vertical-align: middle;
    max-height: 75px;
}

.shows-item > div > img {
    vertical-align: middle;
    max-height: 75px;
    max-width: 90%;
}

.btn-danger, .btn-info, .btn-success, .search-query {
    width: 100% !important;
    border: 0 !important;
    border-radius: 0 !important;
    padding: 15px 18px 15px 18px !important;
}

.blind {
    height: 1px;
    margin-bottom: 100px !important;
}

.info-image-row {
    margin: 0 !important;
    margin-bottom: 20px !important;
}

.info-item-row {
    margin: 0 !important;
    padding-bottom: 8px;
    padding-top: 5px;
    border-bottom: 1px solid #eee;
}

.info-link-row {
    margin: 0 !important;
    padding-bottom: 20px;
    padding-top: 5px;
}

.episodelist {
    margin: 0 !important;
    padding-top: 9px;
    background-color: #bbb !important;
    color: #fff !important;
}

.season-row {
    margin: 0 !important;
}

.season-title {
    font-size: 16px;
    background-color: #eee !important;
    padding-bottom: 7px;
    padding-top: 6px;
}

.episode-row {
    border-bottom: 1px solid #eee;
    padding-bottom: 6px;
    padding-top: 5px;
}

.form-search {
    margin: 0 !important;
    padding-bottom: 20px;
}

.search-query {
    border: 1px solid #34aadc !important;
    border-bottom: 0 !important;
    outline: none;
}
.result-row {
    margin: 0 !important;
}

.result-row > a {
    margin: 0 !important;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
}

.result-row > a > .fa-chevron-right {
    margin-top: 5px;
}

.result-row:first-of-type > a {
    border-top: 1px solid #eee;
}

.refresh-btn {
    padding-left: 20px;
}

.col-lg-12 > p {
    padding-left: 20px;
}

.main-btns {
    padding-top: 20px;
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.main-btns .btn {
    display: block;
    margin-bottom: 20px;
}