<div class="scrollable ng-scope" ng-controller="InfoCtrl">
    <div class="app-content-loading" ng-if="showSpinner">
        <i class="fa fa-spinner fa-spin loading-spinner fa-3"></i>
        <p>Info is loading...</p>
    </div>
    <div ng-if="showRefresh" class="refresh-btn">
        <button class="btn btn-primary" ng-click="init()"><i class="fa fa-refresh"></i>  Refresh</button>
    </div>
    <button class="col-sm-12 col-xs-12 btn-success" ng-click="addShow(info.showid,info.name,info.image)" ng-if="!inArray(info.showid) && !showSpinner">Add to my shows</button>
    <button class="col-sm-12 col-xs-12 btn-danger" ng-click="removeShow(info.showid)" ng-if="inArray(info.showid) && !showSpinner">Remove from my shows</button>
    <div class="scrollable-content" ng-if="!showSpinner">
        <div class="row info-image-row">
            <div class="col-lg-12">
                <h3>{{ info.name }}</h3>
            </div>
        </div>
        <div class="row info-image-row">
            <figure class="col-sm-offset-2 col-xs-offset-2 col-sm-8 col-xs-8">
                <img src="{{ info.image }}">
            </figure>
        </div>
        <div class="row info-item-row">
            <div class="col-sm-3 col-xs-3">Network</div>
            <div class="col-sm-9 col-xs-9">{{ info.network.__text }}</div>
        </div>
        <div class="row info-item-row">
            <div class="col-sm-3 col-xs-3">Air day</div>
            <div class="col-sm-9 col-xs-9">{{ info.airday }}</div>
        </div>
        <div class="row info-item-row">
            <div class="col-sm-3 col-xs-3">Air time</div>
            <div class="col-sm-9 col-xs-9">{{ info.airtime }}</div>
        </div>
        <div class="row info-link-row">
            <a class="col-sm-12 col-xs-12" href="{{ info.showlink }}">{{ info.showlink }}</a>
        </div>
        <div class="row episodelist">
            <h4 class="col-sm-12 col-xs-12">Episode List</h4>
        </div>
        <div class="row season-row" ng-repeat="season in info.Episodelist.Season" ng-if="isArray(info.Episodelist.Season)">
            <div class="col-sm-12 col-xs-12 season-title">Season {{ $index + 1 }}</div>
            <div class="col-sm-12 col-xs-12">
                <div class="row episode-row" ng-repeat="episode in season.episode">
                    <div class="col-sm-2 col-xs-2">Ep {{ $index + 1 }}</div>
                    <div class="col-sm-6 col-xs-6">{{ episode.title }}</div>
                    <div class="col-sm-4 col-xs-4">Aired {{ episode.airdate }}</div>
                </div>
            </div>
        </div>
        <div class="row season-row" ng-if="!isArray(info.Episodelist.Season)">
            <div class="col-sm-12 col-xs-12 season-title">Season 1</div>
            <div class="col-sm-12 col-xs-12">
                <div class="row episode-row" ng-repeat="episode in info.Episodelist.Season.episode">
                    <div class="col-sm-2 col-xs-2">Ep {{ $index + 1 }}</div>
                    <div class="col-sm-6 col-xs-6">{{ episode.title }}</div>
                    <div class="col-sm-4 col-xs-4">Aired {{ episode.airdate }}</div>
                </div>
            </div>
        </div>
        <div class="blind"></div>
    </div>
</div>