<div class="scrollable ng-scope">
    <div class="row">
        <div class="col-lg-12">
            <h3>BenShows App</h3>
            <p>Go to schedule or searh for your favorite TV shows...</p>
        </div>
        <div class="col-lg-12 main-btns">
            <a class="btn btn-primary" href="#/schedule"><i class="fa fa-calendar"></i>   Schedule</a>
            <a class="btn btn-primary" href="#/cal"><i class="fa fa-star"></i>   My Shows</a>
            <a class="btn btn-primary" href="#/search"><i class="fa fa-search"></i>   Search</a>
        </div>
    </div>
    <div class="blind"></div>
</div>