<div class="scrollable ng-scope" ng-controller="ScheduleCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h3>Aired shows in next 7 days</h3>
        </div>
    </div>
    <div class="app-content-loading" ng-if="showSpinner">
        <i class="fa fa-spinner fa-spin loading-spinner fa-3"></i>
        <p>Schedule is loading...</p>
    </div>
    <div ng-if="showRefresh" class="refresh-btn">
        <button class="btn btn-primary" ng-click="init()"><i class="fa fa-refresh"></i>  Refresh</button>
    </div>
    <div class="scrollable-content">
        <div class="panel panel-default" ng-repeat="day in days">
            <div class="panel-heading" toggle target="collapse{{ $index }}">
                <h4 class="panel-title">
                    {{ day._attr | czDate }}
                    <i class="fa fa-angle-double-down pull-right"></i>
                </h4>
            </div>
            <div id="collapse{{ $index }}" toggleable class="panel-collapse collapse" active-class="in">
                <div class="panel-body">
                    <div class="list-group">
                        <div ng-repeat="time in day.time">
                            <a class="list-group-item  ng-class:{ 'addedShow' : inArray(show.sid) }" href="#/info" ng-if="isArray(time.show)" ng-repeat="show in time.show" data-id="{{ show.sid }}" ng-click="setSID(show.sid)">
                                <h5 class="pull-left" style="padding-right:20px;">{{show._name}}</h5>
                                <div class="clearfix"></div>
                            {{show.title}}
                            </a>
                            <a class="list-group-item ng-class:{ 'addedShow' : inArray(time.show.sid) }" href="#/info" ng-if="!isArray(time.show)" data-id="{{ time.show.sid }}" ng-click="setSID(time.show.sid)">
                                <h5 class="pull-left" style="padding-right:20px;">{{time.show._name}}</h5>
                                <div class="clearfix"></div>
                            {{time.show.title}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blind"></div>
    </div>
</div>