<div class="scrollable ng-scope" ng-controller="SearchCtrl">
    <div class="col-lg-12">
        <h3>Search your show</h3>
    </div>
    <form class="form-search row">
        <div class="col-sm-12 col-xs-12">
            <input type="text" ng-model="keywords" class="search-query" placeholder="Keywords...">
        </div>
        <div class="col-sm-12 col-xs-12">
            <button type="submit" class="btn-info" ng-click="search()">Search</button>	
        </div>
    </form>
    <div class="app-content-loading" ng-if="showSpinner">
        <i class="fa fa-spinner fa-spin loading-spinner fa-3"></i>
        <p>Searching...</p>
    </div>
    <div class="scrollable-content">
        <div class="row result-row" ng-repeat="result in results">
            <a class="col-sm-12 col-xs-12" href="#/info" ng-click="setSID(result.showid)">
                {{ result.name }}<i class="fa fa-chevron-right pull-right"></i>
            </a>
        </div>
        <div class="blind"></div>
    </div>
</div>