<div class="scrollable ng-scope" ng-controller="ShowsCtrl">
    <div class="col-lg-12">
        <h3>List of my shows</h3>
    </div>
    <div class="scrollable-content">
        <div class="row show-row" ng-repeat="show in shows">
            <figure class="col-sm-3 col-xs-3 shows-item">
                <div>
                    <img src="{{ show.image }}">
                </div>
            </figure>
            <a class="col-sm-7 col-xs-6 shows-item" href="#/info" ng-click="setSID(show.sid)">
                <div>
                    {{ show.title }}
                </div>
            </a>
            <div class="col-sm-2 col-xs-3 shows-item">
                <div>
                    <button class="btn-danger" ng-click="removeShowFromList(show.sid)"> <i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div>
        <div class="blind"></div>
    </div>
</div>