<!DOCTYPE html>
<html lang="en" ng-app="BenShowsApp" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular chat</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="components/mobile-angular-ui/css/mobile-angular-ui-hover.min.css" />
    <link rel="stylesheet" href="components/mobile-angular-ui/css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="components/mobile-angular-ui/css/mobile-angular-ui-desktop.min.css" />
</head>

<body>
    <div class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="mainSidebar">
        <h1 class="app-name">BenShows</h1>
        <div class="scrollable">
            <div class="scrollable-content">
                <div class="list-group" toggle="off" bubble target="mainSidebar">
                    <a class="list-group-item" href="#">Home<i class="fa fa-chevron-right pull-right"></i></a>
                    <a class="list-group-item" href="#/schedule">Schedule<i class="fa fa-chevron-right pull-right"></i></a>
                    <a class="list-group-item" href="#/cal">My Shows<i class="fa fa-chevron-right pull-right"></i></a>
                    <a class="list-group-item" href="#/search">Search<i class="fa fa-chevron-right pull-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!--    INLCUDES-->
    <div class="app">

        <!-- Navbars -->
        <div class="navbar navbar-app navbar-absolute-top">

            <!--      MENU BAR-->
            <div class="btn-group pull-left">
                <div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle">
                    <i class="fa fa-bars"></i> Menu
                </div>
            </div>
        </div>
        <!-- CONTENT -->
        <div class="app-body" ng-class="{loading: loading}">
            <div ng-show="loading" class="app-content-loading ng-hide">
                <i class="fa fa-spinner fa-spin loading-spinner"></i>
            </div>
            <ng-view class="app-content" ng-hide="loading"></ng-view>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.min.js"></script>
<!--    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>-->
    <script src="components/mobile-angular-ui/js/mobile-angular-ui.min.js"></script>
    <script src="components/j2x/xml2json.min.js"></script>
    <script src="app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters/cz_date.js"></script>
    <script src="js/ctrls/schedule.js"></script>
    <script src="js/ctrls/info.js"></script>
    <script src="js/ctrls/shows.js"></script>
    <script src="js/ctrls/search.js"></script>
</body>

</html>
